@use 'src/styles/vars';

.searchresult {
  font-family: 'Righteous';
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2em;
  float: center;
  color: white;
  background: radial-gradient(ellipse at top, #242424 0%, #000000 80%);
}

.searchresulttitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 30px;
}

.searchresultimage {
  float: center;
  max-width: 80%;
  max-height: 50%;
  object-fit: cover;
  object-position: bottom;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.searchresultmap {
  padding-bottom: 200px;
}
.search-map {
  display:block !important;
  width: 40%;
  border: solid 1px;
  border-color: vars.$orange;
  box-shadow: 0 0 40px 40px vars.$orange inset, 0 0 0 0 vars.$orange;
  transition: all 150ms ease-in-out;
  margin-bottom: 12em;
  height: 700px;
  
  &:hover {
    box-shadow: 0 0 10px 0 vars.$orange inset, 0 0 10px 4px vars.$orange;
  }
}
.rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow: hidden;
}

.rating a {
  float: right;
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

.searchresultadress {
  padding-bottom: 1em;
}

.detailssearchresult {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.searchresultmap {
  padding-top: 2em;
}

//loading wheel
.skateparkDetails-loading-wheel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
