.searchresult {

display:flex;
flex-direction: column;
text-align: center;
margin-top: 2em;
float:center;
background: -webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
color: white;
}



.searchresulttitle {
padding-top: 20px;
padding-bottom: 20px;
font-weight: bolder;
font-size: 30px;

}


.searchresultimage {
float:center;
max-width: 80%;
max-height: 50%;
object-fit: cover;
object-position: bottom;
margin-left: auto;  
margin-right: auto;  
padding-bottom: 20px;

//a retirer après le test
display: none;
}


.searchresultmap {
padding-bottom: 200px;

}


.rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow:hidden;
}

.rating a {
  float:right;
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}

.searchresultadress {
padding-bottom: 1em;


// a retirer après le test
padding-top : 30em;
}


.detailssearchresult {
padding-top: 0.5em;
padding-bottom: 0.5em;


}

.searchresultmap {
padding-top: 2em;

}
