.searchresult {
display:flex;
flex-direction: column;
text-align: center;

}


.searchresultimage {
height: 675px;
width: 1200px;
align-self: center;
padding-top: 3em;
padding-bottom: 3em;
}


.searchresultmap {
padding-bottom: 200px;

}


.rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow:hidden;
}

.rating a {
  float:right;
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
