@use 'src/styles/vars';
#community {
  display: flex;
  flex-direction: column;
  font-family: 'Righteous';

  .community-loading-wheel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .button-post {
    width: 7rem;
    height: 2rem;
  }
  .community-list-article {
    display: flex;
    flex-direction: column;
    .community-eventList {
      max-width: 1400px;
      margin: 0 auto;
      .eventList-item {
        background-color: vars.$grey;
        margin: 2rem;
        display: flex;
        flex-direction: row;
        .item-image {
          height: 300px;
          width: 450px;
        }
        .item-description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 2rem;
          .item-title {
            color: vars.$orange;
            font-size: 1.2em;
            margin-bottom: 0.2rem;
          }
          div p {
            margin-top: 0.1rem;
          }
          .description-resume {
            margin-top: 0.5rem;
            --responsive: calc(
              (var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) *
                ((100vw - 420px) / (1200 - 420))
            );
            --max-font: 12;
            --min-font: 8;
            font-size: var(--responsive);
            color: white;
            text-shadow: black 1px 1px 1px;
          }
        }
      }
    }
  }
  .community-list-article :nth-child(2n) {
    .eventList-item {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 873px) {
  #community {
    #community-img {
      width: 80vw;
      height: auto;
    }
    .community-list-article {
      .community-eventList {
        .eventList-item {
          flex-direction: column;
          .item-description {
            margin: 1rem;
          }
        }
        .description-resume {
          display: none;
        }
      }
    }
    //     .eventList-item {
    //       flex-direction: row;
    //       margin: 1rem;

    //       .item-image {
    //         margin: 0 auto 0;
    //         width: 7rem !important;
    //         max-width: 350px !important;
    //         min-width: 100px !important;
    //       }

    //       .item-description {
    //         width: 7rem !important;
    //         --responsive: calc(
    //           (var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) *
    //             ((100vw - 420px) / (1200 - 420))
    //         );
    //         --max-font: 30;
    //         --min-font: 12;
    //         font-size: var(--responsive);
    //         color: white;
    //         text-shadow: black 1px 1px 1px;
    //       }
  }
}
//-------------------------------------------------
//component AddPost
//-------------------------------------------------
#addpost {
  margin: 2rem 0;
  font-family: 'Righteous';
  color: vars.$white;

  .addpost-block {
    display: flex;
    margin: auto;
    width: 70%;

    .addpost-charateristics {
      display: flex;
      flex-direction: column;
      width: 50%;

      .addpost-input {
        margin: 0.5em 0;
        width: 100%;
      }
    }

    .addpost-description {
      width: 50%;
      height: fit-content;
      text-align: center;

      #addpost-description {
        width: 90%;
        min-height: 20vh;
        margin: 1.5em 0;
      }
    }
  }
}

@media (max-width: vars.$smallScreen) {
  #addpost {
    .addpost-block {
      flex-direction: column;
      align-items: center;
      width: 98%;

      .addpost-charateristics {
        width: 100%;
      }

      .addpost-description {
        width: 100%;

        #addpost-description {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: vars.$smallScreen + 1) and (max-width: vars.$mediumScreen) {
  #addpost {
    .addpost-block {
      flex-direction: column;
      align-items: center;
      width: 98%;

      .addpost-charateristics {
        width: 70%;
      }

      .addpost-description {
        width: 100%;

        #addpost-description {
          width: 100%;
        }
      }
    }
  }
}
