@use 'src/styles/vars';

#community {
  display: flex;
  flex-direction: column;
  font-family: 'Righteous';
  
  .community-loading-wheel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .community-post {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    .button {
      font-size: 1rem;
      width: 120px;
      height: 50px;
    }
  }
  .community-eventList {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
  }
  
  .eventList-item {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.25);
    
    .item-image {
      height: 300px;
      width: 450px;
    }
    .item-description {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 2rem;
      
      .item-title {
        color: vars.$orange;
        font-size: 1.2em;
      }
    }
    .description-resume {
      --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); 
      --max-font: 15;
      --min-font: 5;
      font-size: var(--responsive) ;
      color: white ;
      text-shadow: black 1px 1px 1px ;
    }
    .description-link {
      text-align: left;
    margin: 1.2rem;
  }
}
}

@media (max-width: 800px) {
  #community {
    .button {
      width: 5rem;

    }
    .community-post {
      right: 1.5%;
      top: 123px;
    }
    .description-resume {
      display: none;
    }
    .eventList-item {
      flex-direction: column !important;
      margin: 1rem;
      .item-image {
        margin: 0 auto 0;
        width: 100% !important;
        height: auto;
        max-height: 200px;
        object-fit: cover;
      }
      .item-description {
        width: 100% !important;
        height: 5rem !important;
        --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); 
        --max-font: 22;
        --min-font: 12;
        font-size: var(--responsive) ;
        color: white ;
        text-shadow: black 1px 1px 1px ;
      }
      .description-link {
        text-align: center;
      }
    }
    .eventList-item:nth-child(2n + 1) {
      flex-direction: row;
      .description-link {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px){

  .item-image{
    width: 100% !important;
    height: 100% !important;

  }
}


//-------------------------------------------------
//component AddPost
//-------------------------------------------------
#addpost {
  margin: 2rem;
  font-family: 'Righteous';
  color: vars.$white;

  .addpost-title {
    text-align: center;
    padding: 1em;
    font-size: 2em;
    height: 100px;
    margin-bottom: 1em;
  }

  .addpost-block {
    display: flex;
    margin: auto;
    width: 50%;

    .addpost-charateristics {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;

      .addpost-input {
        margin: 0.5em;
        width: 100%;
      }
    }
  }

  .addpost-description {
    width: 100%;
    padding: 2rem 0;
    height: fit-content;
    text-align: center;

    #addpost-description {
      width: 60vw;
      height: 30vh;
    }
  }

    .addpost-button {
      margin-bottom: 3rem;

      .button {
        font-size: 1.2rem;
        width: 140px;
        height: 60px;
      }
    }
}

