@use 'src/styles/vars';

#detailpost { 
  
  .detailpost-block {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    display: flex;
    max-width: 1500px;
    margin: auto;

    .detailpost-image {
      width: 800px;
      height: auto;
    }

    .detailpost-resume {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-start;
      text-align: center !important;
      --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); 
      --max-font: 15;
      --min-font: 5;
      font-size: var(--responsive) ;
      color: white ;
      text-shadow: black 1px 1px 1px ;
      margin: auto;
    }

      .detailpost-title {
        color: vars.$orange;
        padding-bottom: 1em;
      }

      .detailpost-adress {
        padding-bottom: 1em;
        margin: auto;
      }

      .detailpost-date {
        font-weight: lighter;
        font-size: 1rem;
      }
    }
  }
  .detailpost-description {
    padding: 1rem 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.664);
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      font-weight: bold;
      margin-bottom: 1.2rem;
    }
  }
