@use 'src/styles/vars';

.profile {
  color: vars.$white;
  font-family: 'Righteous';

  .profile-title {
    margin-bottom: 1em;
  }

  .profile-container {
    width: 600px;
    height: 100px;
    border: solid 1px vars.$white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 2em;

    .profile-avatar {
      width: 70px;
      height: auto;
      background-color: vars.$white;
      border-radius: 50%;
      padding: 0.2em;
    }

    .profile-name {
    }

    .profile-button-edit {
      margin: 0;
    }
  }

  .profile-contribution {
    max-width: 800px;
    height: auto;
    margin: auto;

    .profile-contribution-title{
      text-align: center;
      font-size: 2.8em;
      margin: 1em;
      font-family: 'Sedgwick Ave Display';
    }

    .profile-add-title {
        text-align: center;
        margin: 1.5em;
        font-size: 1.5em;
      }

    .profile-contribution-articles {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border: solid 1px;
      padding: 1em;

      .profile-articles-title {
        width: 30vh;
        padding: 0.5em;
      }

      .button-articles {
        margin: 0.3em 0.3em;
      }
    } 
  }
}

.modal {
  background-color: #ffffff;
  width: 800px;
  height: 450px;

  .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }

  .form {
    padding: 2em;

    .content {
      width: 600px;
      height: 300px;
      margin: auto;


      .form-edit-label {
        float: left;
        padding: 0.3em;
        width: 100%;
        margin: 0 auto;
      }

      .form-edit-input {
        margin-left: 1em;
        float: right;
        width: 400px;

      }
    }
      .actions {
        padding: 10px 5px;
        display: flex;
        justify-content: space-evenly;
        margin: 1em;
      }
    
  }

}

