@use 'src/styles/vars';

.connection {

  .title-connection {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    height: 100px;
    margin-bottom: 1em;
  }

  .container-forms {
    display: flex;
    margin: auto;
    max-width: 1000px;
    height: 600px;
    color: vars.$white;
  
    .form-register {
      width: 50%;
      padding: 1em;
      margin-right: 2em;

      .form-register-title {
        color: vars.$white;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 0.6em;
      }

      .form-register-input {
        display: flex;
        width: 100%;
      }

      .form-register-button {
        display: flex;
        justify-content: center;
        margin: 1em auto;
        background-color: vars.$orange;
        border-radius: 12px;
        border: solid 1px;
        width: 100px;
        height: 30px;
        font-size: 1.1em;
      }
    }

    .form-connection {
      width: 50%;
      padding: 1em;
      margin-left: 2em;

      .form-connection-title {
        color: vars.$white;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 0.6em;
      }
      
      .form-connection-input {
        display: flex;
        width: 100%;
      }

      .form-connection-button {
        display: flex;
        justify-content: center;
        margin: 1em auto;
        background-color: vars.$orange;
        border-radius: 12px;
        border: solid 1px;
        width: 100px;
        height: 30px;
        font-size: 1.1em;
      }
    }
  }
}
