@use 'src/styles/vars';

.notFound {
  font-family: 'Righteous';

  .notFound-container {
    margin: auto;
    max-width: 800px;
    color: vars.$white;

    .notFound-image {
      display: flex;
      margin: auto;
      width: 800px;
      height: auto;
    }

    .notFound-p {
      text-align: center;
      margin: 2em;
      font-size: 1.3em;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      margin: auto;
      height: 30px;
      width: 140px;
    }
  }
}
