@use 'src/styles/vars';

.notFound {

  .notFound-title {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    height: 100px;
    margin-bottom: 1em;
  }

  .notFound-container {
    margin: auto;
    max-width: 800px;
    color: vars.$white;

    .notFound-image {
      display: flex;
      margin: auto;
      width: 500px;
      height: 300px;
      background-color: azure;
    }

    .notFound-p {
      text-align: center;
      margin: 2em;
      font-size: 1.3em;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      margin: auto;
      height: 30px;
      width: 140px;
    }
  }
}
