@use 'src/styles/vars';

#marketplace {
  .article-list {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .list-item {
    display: flex;
    flex-direction: column;
  }
  .item-image {
    height: 150px;
    width: 150px;
    background-color: #f0f;
  }
}

@media (max-width: 764px) {
  #marketplace {
    .article-list {
      grid-template-columns: 1fr;
    }
  }
}
