@use 'src/styles/vars';

#marketplace {
  font-family: 'Righteous';

  .search {

    .search-title {
    }

    .marketplace-post {
      display: flex;
      justify-content: flex-end;
      margin-right: 2em;

      .button {
      }
    }
  
    .marketplace-form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 3em;
      max-width: 1000px;
      color: vars.$white;
      height: 80px;

      .marketplace-search {
      }
        .marketplace-input {
          font-size: 1.1rem;
          margin: 0 2em 0 0.5em;
        }
      

      .marketplace-search-button {
        margin: 0;
        height: 30px;
        width: 130px;
      }
    }
  }

  

  .marketplace-loading-wheel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}


  // -----------------------
  // ArticleList
  // -----------------------

  .article-list {
    margin: 0 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .item-image img {
    height: 150px;
    width: 150px;
    //background-color: rgba(255, 0, 255);
  }

// ------------------------
// PostArticle 
// ------------------------

#postarticle {
  margin: 2rem;
  font-family: 'Righteous';
  color: vars.$white;

  .title {
  }

  .postarticle-block {
    display: flex;
    margin: auto;
    width: 50%;

    .postarticle-characteristics {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;

      .postarticle-input {
        margin: 0.5em;
        width: 100%;
      }
    }
  }

  .postarticle-description {
    width: 100%;
    padding: 2rem 0;
    height: fit-content;
    text-align: center;

    #postarticle-description {
      width: 60vw;
      height: 20vh;
    }
  }

  .postarticle-button {
    margin-bottom: 3rem;

    .button {
      font-size: 1.2rem;
      width: 140px;
      height: 60px;
    }
  }
}

@media (max-width: 764px) {
  #marketplace {
    .article-list {
      grid-template-columns: 1fr;
    }
    .search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .marketplace-post {
        position: unset;
        top: unset;
        right: unset;
      }
    }
  }
}

// ---------------------
// DetailsArticle
// ---------------------

.main-container {

  .detailarticle-block {
    padding: 2rem;
    display: flex;
    align-items: center;
    max-width: 1500px;
    height: auto;
    margin: auto;

    .detailarticle-image {
      width: 500px;
      height: auto;
    }

    .detailarticle-resume {
      font-weight: bold;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-start;
      margin: auto;
      color: white;

      .detailarticle-title {
        color: vars.$orange;
        padding-bottom: 1em;
      }

      .detailsarticle-adress {
        padding-bottom: 1em;
        margin: auto;
      }

      .detailarticle-price {
        margin-top: 1em;
      }

      .detailarticle-description {
    
        h2 {
          font-weight: bold;
          margin: 1em;
        }
      }
    }
  }
}
