@use 'src/styles/vars';

.search {
  height: auto;
  max-width: 100%;
  .iconeMarker {
    height: 25px;
    width: 25px;
    font-size: 2rem;
  }

  .search-title {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
  }

  .button-addspot {
    height: 30px;
    width: 130px;
    background-color: vars.$orange;
    border-radius: 12px;
    border: solid 1px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 80px;
    max-width: 800px;
    color: vars.$white;

    .search-label {
    }

    .search-input {
      margin-left: 1em;
    }

    .search-selected {
      margin-left: 1em;
    }

    .search-button {
      height: 30px;
      width: 100px;
      background-color: vars.$orange;
      border-radius: 12px;
      border: solid 1px;
    }
  }

  .search-result {
    display: flex;
    align-items: center;
    margin: 1em auto 0;
    max-width: 1200px;

    .search-map {
      width: 50%;
      height: 500px;
      border: solid 1px;
    }

    .search-list {
      width: 50%;
      height: auto;
      padding: 2em;

      .search-list-item {
        padding: 1em;
        margin-bottom: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: vars.$white;

        .search-list-image {
          border: solid 1px;
          height: 80px;
          width: 80px;
          margin-right: 1em;
        }

        .search-list-description {
          margin: auto;
        }

        .search-list-button {
          margin-left: 2em;
          background-color: vars.$orange;
          border-radius: 12px;
          border: solid 1px;
          width: 60px;
          height: 30px;
        }
      }
    }
  }
}
