@use 'src/styles/vars';

.search {
  height: auto;
  max-width: 100%;
  font-family: 'Righteous';

  .iconeMarker {
    height: 25px;
    width: 25px;
    font-size: 2rem;
  }

  .search-title {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
  }

  .search-list-button{
    height: 30px;
    width: 130px;
    background-color: vars.$orange;
    border-radius: 12px;
    border: solid 1px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';
    color: black;
    border-color: vars.$orange;
    box-shadow: 0 0 40px 40px vars.$orange inset, 0 0 0 0 vars.$orange;
    transition: all 150ms ease-in-out;
  
    &:hover {
      box-shadow: 0 0 10px 0 vars.$orange inset, 0 0 10px 4px vars.$orange;
    }

  }

  .button-addspot {
    height: 30px;
    width: 130px;
    background-color: vars.$orange;
    border-radius: 12px;
    border: solid 1px;
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';
    color: black;
    border-color: vars.$orange;
    box-shadow: 0 0 40px 40px vars.$orange inset, 0 0 0 0 vars.$orange;
    transition: all 150ms ease-in-out;
  
    &:hover {
      box-shadow: 0 0 10px 0 vars.$orange inset, 0 0 10px 4px vars.$orange;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 80px;
    max-width: 800px;
    color: vars.$white;

    .search-input {
      margin: 0 2em 0 1em;
    }

    .search-button{
    height: 30px;
    width: 130px;
    background-color: vars.$orange;
    border-radius: 12px;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';
    color: black;
    border-color: vars.$orange;
    box-shadow: 0 0 40px 40px vars.$orange inset, 0 0 0 0 vars.$orange;
    transition: all 150ms ease-in-out;
  
      &:hover {
      box-shadow: 0 0 10px 0 vars.$orange inset, 0 0 10px 4px vars.$orange;
      }
    }
  }

  .search-result {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1em auto 2em;
    max-width: 1500px;


    .search-map {
      display:block !important;
      width: 40%;
      border: solid 1px;
      border-color: vars.$orange;
      box-shadow: 0 0 40px 40px vars.$orange inset, 0 0 0 0 vars.$orange;
      transition: all 150ms ease-in-out;
      height: 800px;
      width: 50%;
      margin: 2em 2em 0 0;
      
      &:hover {
        box-shadow: 0 0 10px 0 vars.$orange inset, 0 0 10px 4px vars.$orange;
      }
   }

    .search-list {
      box-sizing: border-box;
      width: 50%;
      height: auto;
      margin: 2em;

      .search-list-item {
        padding: 1em;
        margin-bottom: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: vars.$white;

        .search-list-image {
          border: solid 1px;
          height: 80px;
          width: 80px;
          margin-right: 1em;
        }

        .search-list-title {
          margin: auto;
        }

        .search-list-description {
          margin: auto;
          font-size: 0.8em;
        }

        .search-list-button {
          margin-left: 2em;
          background-color: vars.$orange;
          border-radius: 12px;
          border: solid 1px;
          width: 60px;
          height: 30px;
        }
      }
    }
  }
}


@media (max-width: 800px) {

  .search .search-result .search-list .search-list-item {

    display:flex;
    align-items: flex-start;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 80px;
    max-width: 800px;
    color: vars.$white;
  }

  .search-result {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .search .search-result .search-map{
    width : 100%;

  }

  .search .search-result .search-list {
    align-self: flex-start;
    width: 100%;

  }

  .search .search-result .search-list .search-list-item {
    align-self: flex-start;
    width: 100%;
    left: -5em;

  }
}


@media (max-width: 400px) {

  .search-list-item {
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;

    .search-list-image {
      margin-right: 0 !important;
    }

    .search-list-button{
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-top: 5px;

    }
  }
}
