@use 'src/styles/vars';

.contact {

  .contact-title {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    height: 100px;
  }

  .contact-container {
    display: flex;
    margin: auto;
    max-width: 800px;
    color: vars.$white;

    .contact-image {
      width: 50%;
    }

    .contact-form {
      width: 50%;
      .contact-label {

      }

      .contact-input {

      }

      .contact-input-message {

      }

      .contact-button {

      }
    }
  }
}
