@use 'src/styles/vars';

.contact {
  font-family: 'Righteous';

  .contact-title {
    color: vars.$white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    height: 100px;
    margin-bottom: 3em;
  }

  .contact-container {
    display: flex;
    margin: auto;
    max-width: 1000px;
    color: vars.$white;

    .contact-image {
      width: 40%;
      height: auto;
      margin-right: 1em;
    }

    .contact-form {
      width: 50%;

      .contact-input {
        display: flex;
        width: 100%;
        margin-bottom: 1em;
      }

      .contact-input-message {
        width: 100%;
        height: 150px;
      }

      .contact-button {
        display: flex;
        justify-content: center;
        margin: 1em auto;
        background-color: vars.$orange;
        border-radius: 12px;
        border: solid 1px;
        width: 80px;
        height: 30px;
        font-size: 1.1em;
      }
    }
  }
}
