@use 'src/styles/vars';


.navFooter {
  background-color: vars.$black;
  display:flex;
  justify-content: space-around;
  padding: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  width: 100%;

  .navFooter-link {
    color: vars.$grey;
  }

  .navFooter-link--active {
    color: vars.$white;
  }
}
