@use 'src/styles/vars';


.navFooter {
  background-color: vars.$black;
  display:flex;
  justify-content: space-around;
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;

  .navFooter-link {
    color: vars.$grey;
    font-family: 'Righteous';
  }

  .navFooter-link--active {
    color: vars.$white;
  }
}
